/* Existing CSS */
#frame-dimensions {
    margin-top: 15px;
}

#frame-dimensions p {
    font-size: 16px;
    color: var(--text-color);
}

/* Color Palette */
:root {
    --primary-color: #009688; /* Vibrant Teal */
    --secondary-color: #b2dfdb; /* Light Teal */
    --background-gradient: linear-gradient(135deg, #f0f0f0, #ffffff);
    --card-background: #ffffff; /* White */
    --text-color: #333333; /* Dark Gray */
}

body {
    font-family: 'Poppins', sans-serif;
    background: var(--background-gradient);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.container {
    max-width: 600px;
    background: var(--card-background);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    font-size: 28px;
    margin-bottom: 20px;
    color: var(--text-color);
}

.card {
    padding: 20px;
    margin: 10px 0;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 20px;
    margin-bottom: 15px;
}

input[type="file"], input[type="number"] {
    display: block;
    margin: 10px auto;
    padding: 10px;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    width: calc(100% - 22px);
    background: var(--card-background);
}

input[type="number"] {
    margin: 10px 0;
}

label {
    display: block;
    margin-top: 10px;
    color: var(--text-color);
    text-align: left;
}

.btn-primary {
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    padding: 12px 24px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.3s;
    width: 100%;
    box-sizing: border-box;
}

.btn-primary:hover {
    background-color: #00796b;
    transform: translateY(-2px);
}

.status-message {
    margin-top: 20px;
    font-size: 16px;
    color: var(--primary-color);
}

.hidden {
    display: none;
}
